h2{
    width: 300px;
    border: 2px solid black;
}
img{
    border: 2px dotted black;
    width: 227px;
    height: 300px;
    color:gr;
}
button{
    background-color: blue;
    color: white;
    width: 138px;
    height:30px;
}